<div class="bg-white card">
    <div class="row">
        <div class="col-12 title">
                <h3>{{tcc.theme}}</h3>
        </div>
    </div>
   
    <div class="row mt-2">
        <div class="col-12 col-sm-5 members mb-2">
            <strong>Integrantes</strong>
        </div>
        <div class="col-12 col-sm-7 members">
            <p *ngFor="let student of tcc.students">{{student.name}}</p>
        </div>
    </div>
    <div class="row mt-4 detail">
        <div class="col-11">
            <button (click)="getDetail()" class="btn w-100 bg-danger text-white">Ver detalhes</button>
        </div> 
    </div>
</div>
