.title{
    display: flex;
    justify-content: center;
    text-align: center;
}

p{
    margin: 0;
}

.card{
    padding: 20px 0px;
}

.members{
    text-align: center;
}

.detail{
    display: flex;
    justify-content: center;
}



