<div class="row mt-4 content">
    <div *ngIf="tcc" class="col-10 col-sm-6 card">
        <h1>{{tcc.theme}}</h1>
        <div class="row mt-3">
            <div class="col-12 col-sm-4 mb-1">
                <span>Descrição</span>
            </div>
            <div class="col-12 col-sm-8 description">
                <p>{{tcc.description}}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-4 mb-1">
                <span>Orientador</span>
            </div>
            <div class="col-12 col-sm-8">
                <p>{{tcc.rudder.name}}</p>
            </div>
        </div>
        <div class="row mt-3">
                <div class="col-12 col-sm-4 mb-1">
                    <span>Grupo</span>
                </div>
                <div class="col-12 col-sm-8">
                    <p *ngFor="let student of tcc.students">{{student.name}}</p>
                </div>
            </div>
    </div>
</div>