<div class="row">
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
    <div class="col-12 col-sm-3 mt-4">
        <app-professor-card></app-professor-card>
    </div>
</div>



