ul{
    list-style: none;
    padding: 20px;
}

li{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout{
    border-top: 1px solid lightgray;
}

img{
    width: 34px;
    height: 34px;
    border: 1px solid lightgray;
}



