<div class="row mt-3">
        <div class="col-10 col-sm-6 card">
            <h2>Editar Perfil</h2>
            <form class="form-group">
                <div class="row mt-3">
                    <div class="col-12 col-sm-4 mb-3">
                        <img src="./assets/images/profile.png">
                    </div>
                    <div class="col-12 col-sm-8">
                        <input type="text" class="form-control">
                        <input type="text" class="form-control mt-3">
                        <input type="email" class="form-control mt-3">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <input type="text" class="form-control">
                        <input type="text" class="form-control mt-3">
                        <button class="btn btn-danger w-100 mt-3">Editar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
