.row{
    display: flex;
    justify-content: center;
}

.card{
    text-align: center;
    padding: 30px;
}

img{
    width: 100%;
    cursor: pointer;
}

input{
    height: 44px;
}

button{
    height: 44px;
}
