.row{
    display: flex;
    justify-content: center;
}

.card{
    text-align: center;
    padding: 30px;
}



button{
    height: 44px;
}

#file{
    display: none;
}

a{
    position: relative;
    width: 100%;
}

a img{
    cursor: pointer;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 150px;
}

@media only screen and (max-width: 600px) {
    a img{
        height: 250px;
    }
  }