<div class="main bg-dark">
    <div class="col-12 col-md-5 bg-secondary card">
        <h1>Login</h1>
        <form class="form-group">
            <div class="row mt-4">
                <div class="col-3 left ">
                    <label class="mt-1" for="tia">TIA: </label>
                </div>
                <div class="col-12 col-md-9">
                    <input class="form-control" type="text" name="tia" id="tia" placeholder="Insira seu TIA"
                        autofocus />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3 left ">
                    <label class="mt-1" for="password">Senha: </label>
                </div>
                <div class="col-12 col-md-9">
                    <input class="form-control" type="password" name="password" id="password"
                        placeholder="Insira sua senha"/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-4 left">
                    <span>Esqueceu sua senha?</span>
                </div>
            </div>
            <div class="row mt-4 button-div">
                <div class="col-12">
                    <button class="btn btn-danger w-100" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>