<div class="main">
    <div class="col-12 col-sm-5 bg-white card">
        <h1>Login</h1>
        <form class="form-group" [formGroup]="login" (ngSubmit)="onFormSubmit()">
            <div class="row mt-4">
                <div class="col-3 left ">
                    <label class="mt-1" for="id">{{id}}: </label>
                </div>
                <div class="col-12 col-sm-9">
                    <input class="form-control" type="text" formControlName="id" name="id" id="id" placeholder="Insira seu {{id}}"
                        required autofocus />
                    <small class="text-danger" *ngIf="!login.controls.id.valid && login.controls.id.touched">O {{id}} é obrigatório!</small>    
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3 left ">
                    <label class="mt-1" for="password">Senha: </label>
                </div>
                <div class="col-12 col-sm-9">
                    <input class="form-control" type="password" name="password" formControlName="password" id="password"
                        placeholder="Insira sua senha" required/>
                    <small class="text-danger" *ngIf="!login.controls.password.valid && login.controls.password.touched">A senha é obrigatória!</small>      
                </div>
            </div>
            <div class="row mt-4 button-div">
                <div class="col-12">
                    <button [disabled]="!login.controls.id.valid || !login.controls.password.valid" class="btn btn-danger w-100" type="submit">Login</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 left">
                    <span>Esqueceu sua senha?</span>
                </div>
            </div>
        </form>
    </div>
</div>