.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left{
    text-align: left;
}

.card{
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    min-height: 50%;
}

.form-group{
    width: 100%;
}

.button-div{
    display: flex; 
    justify-content: center;
}



