<mat-toolbar class="menu bg-white">
    <div fxHide.gt-xs>
        <button (click)="onToggleSidenav()">
            <app-icon icon="menu" color="black"></app-icon>
        </button>
    </div>
    <div (click)="editProfile()" *ngIf="professor" class="d-none d-sm-flex profile">
        <img [src]="professor.photo || './assets/images/profile.png'"> 
        <h3 class="mt-2 ml-2">{{professor.name}}</h3>
    </div>
    <div class="d-none d-sm-block">
        <button class="logout mr-3" (click)="goHome()">
                <app-icon [size]="35" icon="home" color="black"></app-icon>
        </button>
        <button class="logout" (click)="logout()">
            <app-icon [size]="35" icon="logout" color="black"></app-icon>
        </button>
    </div>
</mat-toolbar>
