<mat-toolbar color="white">
    <div fxHide.gt-xs>
         <button (click)="onToggleSidenav()">
            <app-icon icon="menu" color="black"></app-icon>
        </button> 
    </div>
    <!-- <div>
        <a routerLink="/">Projeto Panrotas</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/noticias">Notícias</a>
            </li>
           
        </ul>
    </div> -->
  </mat-toolbar>
